<header class="st-site-header st-style1 st-sticky-header">
    <div class="st-main-header">
        <div class="container">
            <div class="st-main-header-in">
                <div class="st-main-header-left">
                    <a class="st-site-branding" href="#home">
                        <span class="st-logo">
                            <img src="assets/img/logo-anthony.png" alt="Logo" style="height: 40px; margin-right: 10px; vertical-align: middle;">
                        </span>
                        JHOSSUA VEGA
                    </a>
                </div>
                <div class="st-main-header-right">
                    <div class="st-nav">
                        <ul class="st-nav-list st-onepage-nav">
                            <li><a href="#home" class="st-smooth-move active">INICIO</a></li>
                            <li><a href="#about" class="st-smooth-move">PERFIL</a></li>
                            <li><a href="#services" class="st-smooth-move">SERVICIOS</a></li>
                            <li><a href="#experience" class="st-smooth-move">RESUMEN</a></li>
                            <li><a href="#iris-proyect" class="st-smooth-move">PROYECTOS</a></li> 
                            <li><a href="#skills" class="st-smooth-move">APTITUDES</a></li>
                            <li><a href="#contact" class="st-smooth-move">CONTACTO</a></li>
                        </ul>
                        <a href="https://wa.me/593959720085" target="_blank" class="st-social-btn">
                            <i class="fa-solid fa-phone"></i>
                            <div class="sp-phone-no">095 9720 085</div>
                        </a>
                    </div>
                    <span class="st-munu-toggle"><span></span></span>
                </div>
            </div>
        </div>
    </div>
</header>